Q1. List any five functions of the pandas library with execution.
import pandas as pd

# 1. read_csv()
data = pd.read_csv('data.csv')

# 2. head()
print(data.head())

# 3. describe()
print(data.describe())

# 4. groupby()
grouped_data = data.groupby('category')

# 5. dropna()
cleaned_data = data.dropna()

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.
import pandas as pd
data={'A'[1,2],
     'B':[3,4],
     'C':[5,6]}
     
df=pd.DataFrame(data)

def reindex_dataframe(df):
    df.index = [(i+1)*2 for i in range(len(df))]
    return df


# Call the function to reindex the DataFrame
df = reindex_dataframe(df)

In [13]:
"""Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console."""
import pandas as pd
v1={'value':[10,20,30,40,50]}
df=pd.DataFrame(v1)

In [14]:
import pandas as pd

def calculate_sum_first_three(df):
    sum_first_three = df['value'].head(3).sum()
    print("Sum of the first three values in the 'Values' column:", sum_first_three)

calculate_sum_first_three(df)

Sum of the first three values in the 'Values' column: 60

In [1]:
"""Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column."""


import pandas as pd

data = {'Text': ['Hello, how are you?', 'Python Pandas is great', 'Data Science is fascinating']}
df = pd.DataFrame(data)

def count_words(text):
    return len(str(text).split())

df['Word_Count'] = df['Text'].apply(count_words)

print(df)

                          Text  Word_Count
0          Hello, how are you?           4
1       Python Pandas is great           4
2  Data Science is fascinating           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

In pandas, DataFrame.size() and DataFrame.shape() serve different purposes. DataFrame.size() returns the total number of elements in the DataFrame, calculated as the product of the number of rows and columns. On the other hand, DataFrame.shape() returns a tuple representing the dimensions of the DataFrame in the form (rows, columns). Therefore, while DataFrame.size() gives a single integer representing the total number of elements, DataFrame.shape() provides a tuple with the number of rows and columns separately.

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

In pandas, the function pd.read_excel() is used to read an Excel file.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [9]:
"""Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address"""

import pandas as pd


data = {'Email': ['john.doe@example.com', 'jane.smith@example.com']}
df = pd.DataFrame(data)


def extract_username(email):
    return email.split('@')[0]


df['Username'] = df['Email'].apply(extract_username)

df

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

In [11]:
"""Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows."""

import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows


data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

selected_df = select_rows(df)
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [15]:
import pandas as pd

def calculate_stats(df):
    mean_value = df['value'].mean()
    median_value = df['value'].median()
    std_deviation = df['value'].std()
    
    return mean_value, median_value, std_deviation


mean, median, std = calculate_stats(df)
print(f"Mean: {mean}, Median: {median}, Standard Deviation: {std}")

Mean: 30.0, Median: 30.0, Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

import pandas as pd

def add_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df


df = add_moving_average(df)

In [17]:
"""Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column."""

import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)


df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [1]:
import pandas as pd


df['Date'] = pd.to_datetime(df['Date'])

start_date = '2023-01-01'
end_date = '2023-01-31'

filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

NameError: name 'df' is not defined